<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [6]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

initial = None



### P2.PY

In [5]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

favorite_number = 13
print(favorite_number)

# Create another variable that represents your favorite color, and do the same steps as above.

favorite_color = "blue"
print(favorite_color)

13
blue



### P3.PY

In [7]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

# Favorite Song: Heaven
# Artist: Calum Scott
favorite_song_lyrics = """I used to count the stars in the sky
Now I count the ones in your eyes
I used to think that my paradise
Was somewhere waiting on the other side
"""


print(favorite_song_lyrics)

I used to count the stars in the sky
Now I count the ones in your eyes
I used to think that my paradise
Was somewhere waiting on the other side



## TYPECASTING

### P1.PY

In [8]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

# converting to float

five_float = float(five)
zero_float = float(zero)
neg_8_float = float (neg_8)
neg_22_float = float(neg_22)

# printing the float

print("Float value of five:", five_float, ", Type:", type(five_float))
print("Float value of zero:", zero_float,", Type:", type(zero_float))
print("Float value of neg_8:", neg_8_float, ", Type:", type(neg_8_float))
print("Float value of neg_22:", neg_22_float, ", Type:", type(neg_22_float))

# coverting floats back

five_int = int(five_float)
zero_int = int(zero_float)
neg_8_int = int(neg_8_float)
neg_22_int = int(neg_22_float)


print("Interger value of five:",five_int, ", Type:", type(five_int))
print("Integer valye of zero", zero_int,", Type:", type(zero_int))
print("Integer value of neg_8:", neg_8_int, ", Type:", type(neg_8_int))
print("Integer value of neg_22:", neg_22_int, ", Type:", type(neg_22_int))

Float value of five: 5.0 , Type: <class 'float'>
Float value of zero: 0.0 , Type: <class 'float'>
Float value of neg_8: -8.0 , Type: <class 'float'>
Float value of neg_22: -22.0 , Type: <class 'float'>
Interger value of five: 5 , Type: <class 'int'>
Integer valye of zero 0 , Type: <class 'int'>
Integer value of neg_8: -8 , Type: <class 'int'>
Integer value of neg_22: -22 , Type: <class 'int'>



### P2.PY

In [11]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

# convert to string

five = str(five)
zero = str(zero)
neg_8 = str(neg_8)
T = str(T)
F = str(F)

print(five)
print(zero)
print(neg_8)
print(T)
print(F)

print(type(five))
print(type(zero))
print(type(neg_8))
print(type(T))
print(type(F))


# convert back to original types

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
T = bool(eval(T))  # we have to use eval ro convert this since it's a boolean
F = bool(eval(F))

print(five)
print(zero)
print(neg_8)
print(T)
print(F)


print(type(five))
print(type(zero))
print(type(neg_8))
print(type(T))
print(type(F))

#

5
0
-8
True
False
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
5
0
-8
True
False
<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>



### P3.PY

In [16]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0

one = bool(one)
zero = bool(zero)

print(one)
print(zero)

print(type(one))
print(type(zero))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

one = float(one)
zero = float(zero)

print(one)
print(zero)

print(type(one))
print(type(zero))


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

one = bool(one)
zero = bool(zero)

print(one)
print(zero)

print(type(one))
print(type(zero))


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)

print(one)
print(zero)

print(type(one))
print(type(zero))


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result.

ten = 10

ten = bool(10)
print(ten)
print(type(ten))

True
False
<class 'bool'>
<class 'bool'>
1.0
0.0
<class 'float'>
<class 'float'>
True
False
<class 'bool'>
<class 'bool'>
1
0
<class 'int'>
<class 'int'>
True
<class 'bool'>



### P4.PY

In [18]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
bool_true = True
bool_false = False

one = bool(one)
zero = bool (zero)

print(one)
print(zero)

print(type(one))
print(type(zero))

# bool_true and bool_false aere already boolean values


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)

print(one)
print(zero)

print(type(one))
print(type(zero))



# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

# they are already booleans, but I can print their data types

print(bool_true)
print(bool_false)

print(type(bool_true))
print(type(bool_false))

True
False
<class 'bool'>
<class 'bool'>
1
0
<class 'int'>
<class 'int'>
True
False
<class 'bool'>
<class 'bool'>



## OPERATORS

### P1.PY

In [19]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

orig_var = orig_var + 50
print(orig_var)


# Subtract 90

orig_var = orig_var - 90
print(orig_var)


# Multiply 10
orig_var = orig_var * 10
print(orig_var)



# Divide 150

orig_var = orig_var / 150
print(orig_var)


# Modulus 3

orig_var = orig_var % 3
print(orig_var)

150
60
600
4.0
1.0



### P2.PY

In [21]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

var_1 = " I will go to London in the summer"
var_2 = " Well, I have already have been there before"

compound_sentence = var_1 + ", " + var_2 + "."    # using the concatenation method learned from JS
print(compound_sentence)

 I will go to london in the summer,  Well, I have already have been there before.



### P3.PY

In [22]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

print(a + b)


# B)
c = '0'
d = '2'

# convert string to integer
c = int(c)
d = int(d)

print(c + d)


# C)
e = "0"
f = 2

# convert string to integer
e = int(e)

print(e + f)

2
2
2



### P4.PY

In [23]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b)



# B)
c = False
d = False

print(c + d)



# C)
e = True
f = False

print(e + f)

2
0
1